.machines-registry__table-wrap .table-header th {
   /* background: rgba(99, 102, 241, 0.12); */
  background: rgba(227, 85, 225, 0.15); 
  border-color:  rgba(227, 85, 225, 0.15); 
  font-weight: 600;
  color: rgb(55 65 81);
}

.dark .machines-registry__table-wrap .table-header th {
  /* background: rgba(99, 102, 241, 0.15); */
  background: rgba(227, 85, 225, 0.15); 
  border-color:  rgba(227, 85, 225, 0.15); 

  color: rgb(229 231 235);
}
